name: Architectural test

on:
    push:

permissions:
  contents: read

jobs:
    phparkitect:
        name: PHPArkitect

        runs-on: ubuntu-latest

        steps:
            - name: "Checkout"
              uses: actions/checkout@v6

            - name: PHPArkitect
              uses: docker://phparkitect/arkitect-github-actions:latest
              with:
                  args: check
