name: Arkitect

on:
  push:
    branches:
      - '*'

  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      #if: steps.composer-cache.outputs.cache-hit != 'true'
      uses: php-actions/composer@v5
      with:
        args: --prefer-dist
        composer_version: 2
        php_version: 7.4

    - name: Coding Standard Checks
      uses: docker://oskarstark/php-cs-fixer-ga
      with:
        args: --dry-run -v

    #- name: Static Analysis
    #  run: ./bin/psalm

    - name: Test
      run: ./bin/phpunit
